<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="../css/home.css" />
</head>

<body>
    <section tabindex="-1" class="overflowVisible section1" id="section1">
        <div id="videoDiv">
            <video id="background-video" autoplay loop muted >
                <source src="http://127.0.0.1:5500/src/images/file.mp4" type="video/mp4">
            </video>

            <div id="videoBox" class="videoBox">
                <div id="svgRoot-videoBox" 
                    class="videoBoxClass1 videoBoxClass2 videoBoxClass3 videoBox">
                    <svg
                        preserveAspectRatio="none" data-bbox="15.305 10.052 123 123" 
                        xmlns="http://www.w3.org/2000/svg" viewBox="15.305 10.052 123 123" 
                        role="presentation" aria-hidden="true">
                        <g>
                            <path d="M138.305 10.052v123h-123v-123h123z"></path>
                        </g>
                    </svg>
                </div>
            </div>
        </div>
    </section>
    <section style="color: white">
        <div>
            <h1>
                TESTE2
            </h1>
        </div>
    </section>

    <section style="color: white">
        <div>
            <h1>
                TESTE3
            </h1>
        </div>
    </section>
</body>

</html>

<script src="../js/home.js"></script>